* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
 
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellowgreen;
}

.game {
  width: 850px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.gameCard {
  width: 200px;
  height: 200px;
  margin: 5px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.2s;
}

.frontCard,
.backCard {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: black; 
  backface-visibility: hidden;
}

.frontCard {
    transform: rotateY(180deg);
}

.gameCard.turn {
    transform:  rotateY(180deg);
}

div#messageArea {
  position: absolute;
  top: 0px;
  left: 0px;
  color: black;
  font-size: large;
}